{% extends "base.html" %}
{% block title_html %}
  Edit
{% endblock %}
{% block h1 %}
  {{ bloc.super }}
{% endblock %}
{% block article_content %}
    <h1>Edit</h1>
    <form id="edit_form" method="post" action="/users/edit/" enctype="multipart/form-data">
        {% csrf_token %}
        <a href={% url 'users:change_password'%}>Change password</a><br>
        {{ edit_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="submit" value="Edit" />
    </form>

{% endblock %}
