<h1>Tool Detail</h1>
  <table>
    <thead>
      <tr>
        <td>ID:</td>
        <td>{{ tool.id}}</td>
      </tr>
    <tr>
        <td>Name:</td>
        <td>{{ tool.name }}</td>
    </tr>
    <tr>
        <td>Description:</td>
        <td>{{ tool.description }}</td>
    </tr>
    <tr>
        <td>Active:</td>
        <td>{{ tool.active }}</td>
    </tr>
    <tr>
        <td>Category:</td>
        <td>{{ tool.category }}</td>
    </tr>
    <tr>
        <td>Status:</td>
        <td>{{ tool.status }}</td>
    </tr>
    </thead>
  </table>

