{% extends "base.html" %}
{% block title_html %}
  Tool listing
{% endblock %}
{% block h1 %}
  {{ bloc.super }}
{% endblock %}
{% block article_content %}
  <h1>Tool listing</h1>
  {% if my_tools|length > 0 %}
    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Description</td>
          <td>Status</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        {% for tool in my_tools %}
        <tr>
          <td>{{ tool.id }}</td>
          <td>{{ tool.name }}</td>
          <td>{{ tool.description }}</td>
          <td>{{ tool.status }}</td>
          <td>{% if tool.image %}<img src="{{ tool.image.url }}" width="100">{% else %}no image{% endif %}</td>
          <td><a href="{% url 'toolmgmt:detail' tool.id %}">show</a></td>
          <td><a href="{% url 'toolmgmt:tool_editition' tool.id %}">Edit</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <span>No tool.</span>
  {% endif %}

  <a href="{% url 'toolmgmt:register' %}">New tool</a>
{% endblock %}
