<html>
  <head>
    <title>
      {% block title_html %}{% endblock %}
    </title>
  </head>
  <body>
    <header>
      <a href="/home">home</a> |
      <a href="/about">about</a> |
      {% if user.is_authenticated %}
        <a href="/toolmgmt/tools">Tool listing</a> |
        <a href="/toolmgmt/tools/mytools">My tools</a> |
        <a href={% url 'users:edit' %}>Edit profile</a> |
        {{ user.username }}(<a href={% url 'users:logout' %}>Logout</a>)
      {% else %}
        <a href="/users/login/">Login</a>
      {% endif %}
    </header>
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}
    <h1>
      ToolShare webapp {% block h1 %}{% endblock %}
    </h1>
    <article>
      {% block article_content %}{% endblock %}
    </article>
    <footer>
      <div class="footer">SWEN 610 - RIT, Rochester, NY - 2014</div>
    </footer>
  </body>
</html>
