{% extends "base.html" %}
{% block title_html %}
  Tool sharing
{% endblock %}
{% block h1 %}
  {{ bloc.super }}
{% endblock %}
{% block article_content %}
    <form  action= {% url 'sharing:create-sharing' tool_request.id %} method="post">
        {% csrf_token %}
        <table>
          <tr>
            <td>{% if tool_request.tool.image %}<img src="{{ tool_request.tool.image.url }}" width="300">{% else %}no image{% endif %}</td>
            <td>owner: {{ tool_request.lender }} </td>
            <td>pickup arrengement: {{ tool_request.lender.pickup_loc }} </td>
            <td>Start date: {{ tool_request.start_date }} </td>
            <td>End date: {{ tool_request.end_date }} </td>
          </tr>
        </table>
        {{ form.as_p }}
        <input class="small button" type="submit" value="Share" />
    </form>
{% endblock %}
