{% extends "base.html" %}
{% block title_html %}
  Tool registration
{% endblock %}
{% block h1 %}
  {{ bloc.super }}
{% endblock %}
{% block article_content %}
    <form action= {% url 'sharing:create-request' tool.id %} method="post" >
        {% csrf_token %}
        <table>
          <tr>
            <td>{% if tool.image %}<img src="{{ tool.image.url }}" width="300">{% else %}no image{% endif %}</td>
            <td>owner: {{ tool.owner }} </td>
            <td>pickup arrangement: {{ tool.owner.pickup_loc }} </td>
          </tr>
        </table>
        {{form.as_p}}
        <input class="small button" type="submit" value="Request" />
    </form>
{% endblock %}

