{% extends "base.html" %}
{% block title_html %}
  Tool listing
{% endblock %}
{% block h1 %}
  {{ bloc.super }}
{% endblock %}
{% block article_content %}
  
  {% for s in sheds.all %}
    <h2><li>Shed name: {{ s.name }} </li></h2>
    <h1>Received requests (waiting)</h1>
    <table>
      <thead>
        <tr>
          <td>Request</td>
          <td></td>
          <td>From</td>
          <td>To</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
      {% for request in s.waiting_received_requests %}
        <tr>
          <td>{{ request }}</td>
          <td>{% if request.tool.image %}<img src="{{ request.tool.image.url }}" width="100">{% else %} No image {% endif %}</td>
          <td>{{ request.start_date }}</td>
          <td>{{ request.end_date }}</td>
          <td><a href={% url 'sharing:received-request-detail' request.id %}>Detail/Approve...</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <h1>Approved received requests</h1>
    <table>
      <thead>
        <tr>
          <td>Request</td>
          <td></td>
          <td>From</td>
          <td>To</td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
      {% for request in s.approved_received_requests %}
        <tr>
          <td>{{ request }}</td>
          <td>{% if request.tool.image %}<img src="{{ request.tool.image.url }}" width="50">{% else %} No image {% endif %}</td>
          <td>{{ request.start_date }}</td>
          <td>{{ request.end_date }}</td>
          <td><a href={% url 'sharing:received-request-detail' request.id %}>Detail/Approve...</a></td>
          <td><a href={% url 'sharing:create-sharing' request.id %}>Start sharing...</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <h4>Past requests</h4>
    <table>
      <thead>
        <tr>
          <td>Request</td>
          <td></td>
          <td>From</td>
          <td>To</td>
          <td>Approved</td>
        </tr>
      </thead>
      <tbody>
      {% for request in s.past_received_requests %}
        <tr>
          <td>{{ request }}</td>
          <td>{% if request.tool.image %}<img src="{{ request.tool.image.url }}" width="50">{% else %} No image {% endif %}</td>
          <td>{{ request.start_date }}</td>
          <td>{{ request.end_date }}</td>
          <td>{{ request.approved }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  {% endfor %}

{% endblock %}
