      {% extends "base.html" %}
{% block title_html %}
  Tool request detail
{% endblock %}
{% block h1 %}
  {{ bloc.super }}
{% endblock %}
{% block article_content %} 
    <h1>Tool Request Detail</h1>
    <form action="{% url 'sharing:received-request-detail' tool_request.id %}" method="post">
      <table>
        {% csrf_token %}
        <thead>
        <tr>
            <td>Start date:</td>
            <td>{{ tool_request.start_date }}</td>
        </tr>
        <tr>
            <td>End date:</td>
            <td>{{ tool_request.end_date }}</td>
        </tr>
        <tr>
            <td>Message:</td>
            <td>{{ tool_request.msg }}</td>
        </tr>
        <tr>
            <td>Approved:</td>
            <td>{{ tool_request.approved }}</td>
        </tr>
        <tr>
            <td>Image:</td>
            {% if tool_request.tool.image %}
                <td><img src="{{ tool_request.tool.image.url }}" width="300" ></td>
            {% else %}
                <td>no image found</td>
            {% endif %}
        </tr>
        </thead>
      </table>
      {% if can_approve %}
            <button class="button" type="submit" name="btn_approve">Approve Request</button>
            <button class="button" type="submit" name="btn_reject">Reject Request</button>
      {% endif %}
      <a class="small button" href="{{back}}">Cancel</a>
{% endblock %}
