{% extends "base.html" %}
{% block title_html %}
  Tool registration
{% endblock %}
{% block h1 %}
  {{ bloc.super }}
{% endblock %}
{% block article_content %}
<h1> Shed  edit </h1>
    <form  enctype="multipart/form-data" action="{% url 'sharing:shededit' shed.id  %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button" type="submit" value="Save Changes" />
    </form>
    <a class="button" href="{% url 'sharing:sheddetail' shed.id %}">Back</a>
{% endblock %}
