{% extends "base.html" %}
{% block title_html %}
  shed listing
{% endblock %}
{% block h1 %}
  {{ bloc.super }}
{% endblock %}
{% block article_content %}
  <h1>Community Statistics</h1>

  <table>
      <tr>
          <th>Most Shared Tool</th>
    </tr>
      <tr>
          <th>Most Active Borrower </th>
    </tr>
    <tr>
          <th>Most Active Lender </th>
    </tr>
    <tr>
        <th> Total Shed in your neighbourhood </th>
    </tr>
    <tr>
        <th>Total Number of Shared Tools </th>
    </tr>
    <tr>
        <th> Total Number of Community Users </th>
    </tr>
    <tr>
    </tr>
  </table>
{% endblock %}
 
