{% extends "base.html" %}
{% block title_html %}
  shed listing
{% endblock %}
{% block h1 %}
  {{ bloc.super }}
{% endblock %}
{% block article_content %}
  <h1>Community Statistics</h1>

  <table>
      <tr>
          <th>Most Shared Tool</th>
          <td> {{ tool.name }} <td>

    </tr>
      <tr>
          <th>Most Active Borrower </th>
          <td>
        {{ borrower }}
    </td>
    </tr>
   
    <tr>
          <th>Most Active Lender </th>
          <td>
              {{ lender }}
        </td>
    </tr>
    
    <tr>
        <th> Total Shed in your neighbourhood </th>
        <td> {{ totalshed }} </td>
    </tr>
    <tr>
        <th>Total Number of Shared Tools </th>
        <td> {{ totaltool }} </td>
    </tr>
    <tr>
        <th> Total Number of Community Users </th>
        <td> {{ totaluser }} </td>
    </tr>
  </table>
{% endblock %}
 
